.footer{
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F16A43;
    color: white;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.startCont{
    cursor: pointer;
    width: 10rem;
    background-color: #8EB79A;
    color: white;
    height: 100%;
    border-radius: 0rem 5rem 5rem 0rem;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: start;
    padding-left: 1.5rem;
    align-items: center;
    font-family: "roboto";
}

.time{
    width: 10rem;
    background-color: #8EB79A;
    color: white;
    height: 100%;
    display: flex;
    font-size: 1.3rem;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.menu{
    position: fixed;
    bottom: 3rem;
    width: 12rem;
    height: 15rem;
    background-color: #efa159;
    box-shadow:2px 2px hwb(0 92% 8% / 0.422);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 2rem;
}

.start-menu{
    color: white;
    width: 100%;
    height: 3rem;
    background-color: #e7c369;
cursor: pointer;
}